body {
    padding-top: 70px;
    background-color: #edd9c0;

}

.navbar {
    background-color: #bc1a41;
}
.navbar a {
    color: #fff;
}

.navbar a:hover {
    background-color: transparent !important;
    color: #e3e0cf;
}

.glavaOkvirja {
    background-color: #3fb0ac !important;
}

.teloOkvirja {
    background-color: #a8b6bf !important;
}

.gumbi {
    background-color: #3fb0ac !important;
    margin-top: 10px;
    padding: 5px;
    
}

.gumbi:hover {
    background-color: #173e43 !important;
    text-decoration: underline;
    margin-top: 10px;
    padding: 5px;
    
}

.glavaTekst{
    color: #312c32;
}

.teloOkvirjaPomoc {
    background-color: #c9d8c5 !important;
}

#motivacijski {
    text-align: center;
}


#dodajPodatke {
    margin-top: 10px;
    padding: 5px;
}


#okvircek, .okvircek {
    background-color: #bc4c45;
}

#gumbDodajMeritve {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#gumbEHR {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#gumbDodajMeritve {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#gumbOsvezi {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}


#gumbOsvezi:hover {
    text-decoration: underline;
    color: #fff;
}

#gumbGraf {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}


#gumbGraf:hover {
    text-decoration: underline;
    color: #fff;
}

#gumbDodajUporabnika{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    float: right;
}

#gumbPreklici {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    float: right;
}

#gumbPomocUporabnikom{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    float: right;
}


#tabelaPodatkov {
    background-color: #cccccc;
}

#tabelaPodatkov:hover {
    background-color: #bbbbbb;
}

.c3 {
    position: initial !important;
}

.twitterOkvircek {
    border-style: none !important;
}
