.navbar {
    background-color: #0080ff;
}
.navbar a {
    color: #fff;
}

.navbar a:hover {
    background-color: transparent !important;
    color: #00284d;
    text-decoration: underline;
}

#gumbEHR {
    margin-top: 10px;
    padding: 5px;
}

#dodajPodatke {
    margin-top: 10px;
    padding: 5px;
}


#okvircek {
    background-color: #bc4c45;
}
