body {
    padding-top: 70px;
    background-color: #e3e3e3;

}

.navbar {
    background-color: #7d4627;
}
.navbar a {
    color: #fff;
}

.navbar a:hover {
    background-color: transparent !important;
    color: #e3e0cf;
}

.glavaOkvirja {
    background-color: #c9d8c5 !important;
}

.teloOkvirja {
    background-color: #9ad3de !important;
}

.gumbi {
    background-color: #b56969 !important;
    margin-top: 10px;
    padding: 5px;
    
}

.gumbi:hover {
    background-color: #9d4e4e !important;
    text-decoration: underline;
    margin-top: 10px;
    padding: 5px;
    
}

.glavaTekst{
    color: #312c32;
}

#motivacijski {
    text-align: center;
}


#dodajPodatke {
    margin-top: 10px;
    padding: 5px;
}


#okvircek, .okvircek {
    background-color: #bc4c45;
}

/*#okvircekPomoc {
    background-color: #f0ac7d;
    margin-top: 10px;
    padding: 5px;
}*/

#gumbDodajMeritve {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#gumbEHR {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#gumbDodajMeritve {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#gumbOsvezi {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}


#gumbOsvezi:hover {
    text-decoration: underline;
    color: #fff;
}

#gumbGraf {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}


#gumbGraf:hover {
    text-decoration: underline;
    color: #fff;
}

#gumbDodajUporabnika{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    float: right;
}

#tabelaPodatkov {
    background-color: #cccccc;
}

#tabelaPodatkov:hover {
    background-color: #bbbbbb;
}

.c3 {
    position: initial !important;
}

.twitterOkvircek {
    border-style: none !important;
}
